:root {
  --base: #ffc600;
  --spacing: 10px;
  --blur: 5px;
}

img {
  height: 500px;
  width: 800px;
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur))
}

span {
  color: var(--base);
}

body {
    background: #193549;
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-size: 25px;
}

h1 {
    text-align: center;
}

.controls {
    margin: 30px;
}

input {
    width: 100px;
}
